name: npm audit

on:
  pull_request:
  push:
    branches:
      - master
# on:
#   schedule:
#     - cron: '0 10 * * *'
# nice

jobs:
  scan:
    name: npm audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: createandaudit
        name: create app and audit
        continue-on-error: true
        run: |
          npm i
          npm i axios@0.21.0
          npm audit --audit-level=high > auditoutput.txt
      - id: getexistingissue
        name: check for existing github issue
        continue-on-error: true
        env:
          STEPS_CONTEXT: ${{ toJSON(steps) }}
        if: steps.createandaudit.outcome != 'success'
        run: |
          curl 'https://api.github.com/repos/Himavanth/hima/issues?labels=bug' > curloutput.txt
          grep -q "High and/or Critical avulnerability found in npm audit" curloutput.txt
      - id: issuecreate
        name: create github issue
        env:
          STEPS_CONTEXT: ${{ toJSON(steps) }}
        if: steps.createandaudit.outcome != 'success' && steps.getexistingissue.outcome != 'success'
        run: |
          echo ${{ secrets.GITHUB_TOKEN }}
          curl "https://api.github.com/repos/himavanth/hima/issues" -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          -H "Content-Type: application/json" \
          -d '{ "title": "from curl through github action", "labels": ["audit", "bug"], "body": "what\nhello<br>maybe"}' -v
