name: npm audit

on:
  pull_request:
  push:
    branches:
      - master
# on:
#   schedule:
#     - cron: '0 10 * * *'
# nice

jobs:
  scan:
    name: npm audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: installandcheck
        name: install dependencies
        continue-on-error: true
        run: |
          jq
          awk
          npm i
          npm i axios@0.21.0
          npm audit --audit-level=high >> auditoutput.txt
      - id: issuecheck
        name: check for existing github issue
        continue-on-error: true
        env:
          STEPS_CONTEXT: ${{ toJSON(steps) }}
        if: steps.installandcheck.outcome != 'success'
        run: |
          curl 'https://api.github.com/repos/Himavanth/hima/issues?labels=bug' > curloutput.txt
          cat curloutput.txt
          grep -q "High and/or Critical vulnerability found in npm audit" curloutput.txt
      - id: issuecreate
        name: create github issue
        env:
          STEPS_CONTEXT: ${{ toJSON(steps) }}
        if: steps.installandcheck.outcome != 'success' && steps.issuecheck.outcome != 'success'
        uses: peter-evans/create-issue-from-file@v3
        with:
          title: High and/or Critical vulnerability found in npm audit
          content-filepath: ./auditoutput.txt
          labels: |
            audit
            bug
