name: npm audit

on:
  pull_request:
  push:
    branches:
      - master
# on:
#   schedule:
#     - cron: '0 10 * * *'

jobs:
  scan:
    name: npm audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install dependencies
        run: |
          npm i
          npm i axios@0.21.0
          npm audit --audit-level=high
          echo "$STEPS_CONTEXT"

