name: npm audit of a FF App (aio app init -y)

on:
  push:
    branches:
      - master
# on:
#   schedule:
#     - cron: '0 10 * * *'
# nice

jobs:
  scan:
    name: npm audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: createandaudit
        name: create app and audit
        continue-on-error: true
        run: |
          npm i
          npm i axios@0.21.0
          npm audit --audit-level=high > auditoutput.txt
      - id: getexistingissue
        name: check for existing github issue
        continue-on-error: true
        env:
          STEPS_CONTEXT: ${{ toJSON(steps) }}
        # remove "false &&" below to enable this step
        if: steps.createandaudit.outcome != 'success'
        run: |
          curl 'https://api.github.com/repos/Himavanth/hima/issues?labels=bug' > curloutput.txt
          grep -q "High and/or Critical avulnerability found in npm audit" curloutput.txt
      - id: issuecreate
        name: create github issue
        env:
          STEPS_CONTEXT: ${{ toJSON(steps) }}
        # remove false below to enable this step
        if: steps.createandaudit.outcome != 'success' && steps.getexistingissue.outcome != 'success'
        run: |
          cat auditoutput.txt | jq -r '.advisories[] | "\n**`\(.title)`** in module **`\(.module_name)`**\n ```\n\(.overview)\n```"' > issuetext.txt
          jq -n --rawfile input issuetext.txt '{"title": "audit report", "labels": ["audit","bug"], "body" : $input}' | curl "https://api.github.com/repos/himavanth/hima/issues" -H "Content-Type: application/json" -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -d @- | jq .url > issuecreationoutput.txt
          cat issuecreationoutput.txt
          echo "issueurl=`cat issuecreationoutput.txt`" >> $GITHUB_ENV
      - id: postslackmessage
        name: Slack Notification
        if: steps.createandaudit.outcome != 'success'
        #uses: rtCamp/action-slack-notify@v2
        env:
          STEPS_CONTEXT: ${{ toJSON(steps) }}
          #SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_TITLE: 'npm audit'
          SLACK_MESSAGE: ${{ env.issueurl }}
          SLACK_COLOR: ${{ job.status == 'success' && 'good' || job.status == 'cancelled' && '#808080' || 'danger' }}
        run: |
          echo ${{ env.issueurl }}
