name: npm audit

on:
  pull_request:
  push:
    branches:
      - master
# on:
#   schedule:
#     - cron: '0 10 * * *'

jobs:
  scan:
    name: npm audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: installandcheck
        name: install dependencies
        continue-on-error: true
        run: |
          npm i
          npm i axios@0.21.0
          npm audit --audit-level=high
      - id: issue
        name: create github issue
        env:
          STEPS_CONTEXT: ${{ toJSON(steps) }}
        if: steps.installandcheck.outcome != 'success'
        run: |
          echo "$STEPS_CONTEXT"
      - id: noissue
        name: dont create github issue
        env:
          STEPS_CONTEXT: ${{ toJSON(steps) }}
        if: steps.installandcheck.outcome == 'success'
        run: |
          echo "all good"


