name: Check aio-cli github action

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [14]
        os: [windows-latest]

    steps:
    - name: Setup CLI
      uses: Himavanth/aio-cli-setup-action@ver
      with:
        os: ${{ matrix.os }}
        version: 6.0.0
    - name: npmaudit
      run: |
        aio info
