name: installcheck

on:
  workflow_dispatch:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [14]
        os: [ubuntu-latest]

    steps:
    - name: Setup CLI
      uses: actions/checkout@master
      with:
          repository: adobe/aio-cli-plugin-app
          os: ${{ matrix.os }}
    - id: create
      name: create app with no extensions
      run: |
        npm i
        mkdir noextapp
        cd noextapp
        ../bin/run app:init -y --no-login --no-extensions > consoleoutput.txt
        cat consoleoutput.txt
        grep "App initialization finished" consoleoutput.txt
        echo AIO_RUNTIME_AUTH=${{secrets.RUNTIME_AUTH}} > .env
        echo AIO_RUNTIME_NAMESPACE=${{secrets.RUNTIME_NAMESPACE}} >> .env
        ../bin/run app:deploy >> consoleoutput.txt
        cat consoleoutput.txt
        grep "Deployed 4 action(s) for 'application'" consoleoutput.txt
        grep "Successful deployment" consoleoutput.txt
    - id: checkoutput
      name: check the deploy output
      if: ${{ failure() }}
      run: |
        cd noextapp
        cat consoleoutput.txt
    - id: createext
      name: create app with no extensions
      run: |
        mkdir extapp
        cd extapp
        ../bin/run app:init -y --no-login --extension dx/excshell/1 > consoleoutput.txt
        cat consoleoutput.txt
        grep "App initialization finished" consoleoutput.txt
        echo AIO_RUNTIME_AUTH=${{secrets.RUNTIME_AUTH}} > .env
        echo AIO_RUNTIME_NAMESPACE=${{secrets.RUNTIME_NAMESPACE}} >> .env
        ../bin/run app:deploy >> consoleoutput.txt
        cat consoleoutput.txt
        grep "Deployed 2 action(s) for 'dx/excshell/1'" consoleoutput.txt
        grep "Successful deployment" consoleoutput.txt
    - id: checkoutputext
      name: check the deploy output
      if: ${{ failure() }}
      run: |
        cd extapp
        cat consoleoutput.txt
