name: Check creating FF App

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [14]
        os: [windows-]

    steps:
    - name: Setup CLI
      uses: adobe/aio-cli-setup-action@1.0.1
      with:
        os: ${{ matrix.os }}
    - name: npmaudit
      run: |
        mkdir testapp
        cd testapp
        aio info
        aio app init -y
        aio app build
        dir dist/web-src-prod
