name: Daily - test install aio-cli

on: workflow_dispatch

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [14]
        os: [ubuntu-latest, windows-latest]

    steps:
    - name: npm
      env:
        NPM_CONFIG_PREFIX: "~/.npm-global"
      run: |
        npm i -g @adobe/aio-cli
