name: Daily - test install aio-cli

on: workflow_dispatch

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [14]
        os: [ubuntu-latest]

    steps:
    - name: npmaudit
      run: |
        npm i -g @adobe/aio-cli
        mkdir testapp
        cd testapp
        aio app init -y
    - uses: oke-py/npm-audit-action@v1.7.2
      with:
        audit_level: high
        github_token: ${{ secrets.ISSUE_TOKEN }}
